* {
    user-select: none;
}

h1 {
    margin-bottom:40px;
}

.col-sm-3 select {
    clear: both;
    display: block;
    width:100%;
}

table {
    margin-top:110px;
    width:100%;
}

table td {
    position: relative;
    padding:0;
    height:50px;
    text-align: center;
    line-height:50px;
    text-transform:uppercase;
}

#tooltip {
    position:absolute;
    z-index:1;
    width:200px;
    height:100px;
    background:#FFF;
    border:solid 1px #BBB;
    overflow: visible;
    display: none;
    padding:8px;
    border-radius:5px;
}

#tooltip:before {
    content:"";
    display:block;
    position:absolute;
    z-index:1;
    top:calc(50% - 10px);
    left:-10px;

    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #FFF;
}
#tooltip:after {
    content:"";
    display:block;
    position:absolute;
    z-index:0;
    top:calc(50% - 10px);
    left:-11px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #AAA;
}

#tooltip .btn {
    margin-top:15px;
}

.btn-primary {
    float:right;
}

