<div class="container">
    <h1>
        Edit school sample week
    </h1>

    <div class="col-sm-3">
        <span>First day</span>
        <select [(ngModel)]="firstDay" (change)="RecalculateDays()" class="form-control">
            <option *ngFor="let day of _days; let i = index" value="{{ i }}">{{ day }}</option>
        </select>
    </div>
    <div class="col-sm-3">
        <span>Number of days</span>
        <select [(ngModel)]="numberDays" (change)="RecalculateDays()" class="form-control">
            <option *ngFor="let day of _days; let i = index" value="{{ i+1 }}">{{ i+1 }}</option>
        </select>
    </div>
    <div class="col-sm-3">
        <span>Number of periods</span>
        <select [(ngModel)]="numberPeriods" (change)="RecalculatePeriods()" class="form-control">
            <option *ngFor="let period of _periods; let i = index" value="{{ i+1 }}">{{ i+1 }}</option>
        </select>
    </div>
    <div class="col-sm-3">
        <span>Begining of the period</span>
        <select [(ngModel)]="firstPeriod" (change)="RecalculatePeriods()" class="form-control">
            <option *ngFor="let period of _periods; let i = index" value="{{ i }}">{{ period }}</option>
        </select>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th *ngFor="let day of weekDays; let i = index">
                    {{ day.name }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let period of periods">
                <td>{{ period.name }}</td>
                <td *ngFor="let day of weekDays"
                    (click)="TooltipShow($event)"
                    [attr.data-period]="period.index"
                    [attr.data-day]="day.id">
                    <div class="event" *ngIf="ExistEvent(day.id, period.index)">
                        <div class="grab top"></div>{{ ExistEvent(day.id, period.index) }}<div class="grab bottom"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="tooltip">
        <input type="text" max="128" [(ngModel)]="eventTitle" />
        <span class="btn btn-default" (click)="SaveEvent()">Save</span>
    </div>

    <button class="btn btn-primary" (click)="Submit()">Save</button>
</div>
