.event {
    position:absolute;
    background-color: rgba(255,107,153,1);
    min-width:100%;
    min-height:100%;
    text-align:center;
    height:50px;
    z-index:1;
}

.grab {
    width:50px;
    height:5px;
    background:rgba(0,0,0,0.5);
    position:absolute;
    left:calc(50% - 25px);
    cursor:pointer;
    z-index:3;
}

.grab.top {
    top:3px;
}

.grab.bottom {
    bottom:3px;
}

.resizing {
    background-color: rgba(255,107,153,0.5);
}

